<%# 
To double-check that AJAX is working -> 
alert("le fichier JS est exécuté!");
%>

document.getElementById("task-list").insertAdjacentHTML("beforeend", "<li>New task created, yay! (but it doesn't display the real content, NAY) </li>")
